:root {
  --background-main: #201b2c;
  --main-text: #77ffc0;
  --card-login: #2f2841;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background: var(--background-main);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > h1 {
  color: var(--main-text);
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: var(--card-login);
  border-radius: 20px;
}